*{
    padding: 0%;
    
}
.cont{
    background-color: rgb(214, 37, 111);
}
.cab{
    background-color: aquamarine;
}
.esqu{
    background-color: blue;
}
.container{
    background-color: aqua;
}
.dir{
    background-color: blue;
}