#Logo {
    max-height: 100px;
}

.conte {
    background-color: aliceblue;
}
.cont {
    background-color: rgb(255, 14, 14);
}

.navb, .cades {
    background-color: rgb(76, 194, 194);
}


@font-face {
    font-family: "WhiskeyBite-Duo";
    src: url("../fontes/WhiskeyBite-Duo.otf");
}

@font-face {
    font-family: "Windlass";
    src: url("../fontes/Windlass.ttf");
}

#Titulo {
    font-family:"Windlass";
    color: aliceblue;
    font-size: 20px;
}

.roda{
    background-color: rgb(76, 194, 194);
}

h5{
    font-family: "WhiskeyBite-Duo"
}

.title{
    
}